body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

.nav {
  flex: 2;
}

.nav-list {
  display: flex;
  padding: 0 2em;
}

.nav-list-item {
  padding: 0 2em;
  color: black;
}

.nav-list-item a {
  color: black;
}

.nav-list-item .selected {
  color: dodgerblue;
}

.main {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addTodo__form {
  display: flex;
}

.addTodo__button {
  margin-left: 1em;
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.todo__main {
  display: flex;
  align-items: center;
}

.todo__checkbox {
  margin-right: 1em;
}

.todo__delete {
  padding: 0.4em 1em;
  margin-left: 1em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: slategray;
}

.searchTodo__form {
  margin-top: 0.4em;
}

.searchTodo__input {
  width: 100%;
  display: inline-block;
}
