body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.nav {
  flex: 2;
}

.nav-list {
  display: flex;
  padding: 0 2em;
}

.nav-list-item {
  padding: 0 2em;
  color: black;
}

.nav-list-item a {
  color: black;
}

.nav-list-item .selected {
  color: dodgerblue;
}

.main {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__heading {
  font-size: 4em;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(255, 8%, 8%, 0.2);
}

.modal {
  width: 14em;
  line-height: 1.5;
  text-align: center;
  color: black;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 2px 3px 12px hsl(255, 8%, 38%, 0.2),
    7px 10px 12px hsl(255, 10%, 38%, 0.15),
    5px 14px 12px hsl(255, 12%, 38%, 0.1),
    12px 16px 12px hsl(255, 14%, 38%, 0.05);
}

.addTodo__form {
  display: flex;
}

.addTodo__button {
  margin-left: 1em;
}

.todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.todo__main {
  display: flex;
  align-items: center;
}

.todo__checkbox {
  margin-right: 1em;
}

.todo__delete {
  padding: 0.4em 1em;
  margin-left: 1em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: slategray;
}

.searchTodo__form {
  margin-top: 0.4em;
}

.searchTodo__input {
  width: 100%;
  display: inline-block;
}

.pagination-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.pagination-meta {
  display: flex;
}

.pagination-counter {
  margin-left: 1em;
  color: dimgray;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  padding: 0 0.8em;
  border: 1px solid gainsboro;
  border-radius: 0;
}

.pagination-item:focus {
  background-color: gainsboro;
}

.pagination-item:hover {
  background-color: gainsboro;
  color: black;
}

.users {
  width: 90%;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em 0;
}

.user-image {
  border-radius: 50%;
  margin-right: 2em;
}

.user-firstname {
  margin-right: 1em;
}
